<%- include("partials/header")%>
<body style="  
background-image: url('https://www.desktopbackground.org/download/o/2010/08/17/65421_theme-bin-blog-archive-cubes-hd-wallpapers_1920x1080_h.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
justify-content: center;
align-content: center;
align-items: center;
text-align: center;
min-height: 100vh;
display: flex;">
<div class="container">
    <div id="landing-page">
        <h1>Welcome To My Blog-App</h1>
        <p>where a new user can sign up and login into this app and create a new blog. Also can view, edit and delete the blogs created. Along with these can review them and comment on each blog. So lets begin...</p>
    </div>
        <div class="buttonCenter">
            <a  href='/blogs' class="btn raise btn1">Getting Started</a>
        </div>
    
</div>
</body> 
<!--  
<%- include("partials/footer")%>
-->